* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --primary: rgba(218, 51, 33, 0.795);
    --secondary: salmon;
}

/* Header Style Start */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    display: inline;
    font-size: 10px;
    font-weight: lighter;
    color: var(--secondary);
}

.timer, #timer {
    color: black;
    font-size: 26px;
}
/* Header Style End */

/* Form Style Start */
main {
    text-align: center;
}

.page-title {
    font-size: 40px;
}

p {
    font-weight: lighter;
    line-height: 1.5;
}

.btn {
    outline: none;
    border: none;
    background: var(--primary);
    color: white;
    padding: 10px 15px;
    font-size: 2rem;
    border-radius: 12px;
}

.btn:hover {
    background-color: var(--secondary);
    box-shadow: 0 2px var(--secondary);
    top: -2px;
  }
/* Form Style End */